@media print{.header,.footer{undefined
  display:none;
}

@page {undefined

  size: auto;
  
  margin: 0mm;
  padding:0mm;
}
  .header,.footer{undefined
    display:none;
  }
  .vertical_resume{
    border: 0mm;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  .resume{
    border:0mm;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}

/* 隐藏左边工作区滑动条 */
.console-wrapper::-webkit-scrollbar{width:0;}
.console-wrapper{
  float: left;
  width: 500px;
  height: 100%;
  overflow-y:auto;
}

.frame{
  display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}

#ImgPush {
  display: inline-block;
  vertical-align: bottom;
  position: relative;

}
#push_btn
{
  border: 1px solid red;
  width: 82px;
  height: 82px;
  line-height: 82px;
  text-align: center;
}

#file
{
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
  width: 82px;
  height: 82px;
  opacity: 0;
  cursor: pointer;

}
/* garbege的样式 */
#garbege
{
  border-color: #dcdfe6;
  border-width: 4px;
  border-style: solid;
  position:absolute;
  left: 350px;
  top: 87px;
  height: 80px;
  width: 80px;
}
#garbege_1
{
  height: 80px;
  width: 80px;
  


}
.resume
{
  position: absolute;
  width: 210mm;
  height: 297mm;
  border: #000000;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  
}
#connect{
  display: flex;
  flex-direction: column;
}
#vertical_connect{
  display: flex;
  flex-direction: column;
}
.content{
  
  margin: 10px auto;
  display: none;
  margin-left: 5px;
  height: 100%; 
}
.content.show{
  display:block;
}

.page{
  display: none;
}
.page.show{
  display:block;
}

.layui-nav-item{
  width:28%;
  font-size: 16px;
}
#ImgPush{
  margin-left: 7px;
}
#ImgPush2{
  position: relative;
  top:35px;
  left:90px;
}
#push_btn{
  color: #606266;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #dcdfe6;
  margin: 5px;
  width: 80px;
  height: 80px;
}
#push_btn2{
  color: #606266;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #dcdfe6;
  margin: 5px;
  width: 180px;
  height: 80px;
}
.basic_content {
  font-size: 12pt; line-height:30px;
  width: 90%;
  COLOR: #000000;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: #000000;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1.5px;
  border-left-width: 0px;
  margin: 15px;
  }
  .basic_content:hover
{ 
  border-bottom-color:#5fb878;
}
.basic_content:focus
{ 
  border-bottom-color:#5fb878;
}

.basic_content_js {
  font-size: 12pt; line-height:30px;
  width: 90%;
  COLOR: #000000;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: #000000;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1.5px;
  border-left-width: 0px;
  margin: 15px;
  }
  .basic_content_js:hover
{ 
  border-bottom-color:#5fb878;
}
.basic_content_js:focus
{ 
  border-bottom-color:#5fb878;
}

.IconArea{
  margin: 15px;
  margin-right: 28px;
  border: #000000;
  border-width: 1px;
  border-style: solid;
  height:105px;
  overflow-y:auto;
}
.IconArea2{
  margin-right: 28px;
  border: #000000;
  border-width: 1px;
  border-style: solid;
  height:105px;
  overflow-y:auto;
}
.StyleArea{
  margin-right: 28px;
  border: #000000;
  border-width: 1px;
  border-style: solid;
  height:105px;
  overflow-y:auto;
}
.icon{
  width: 32px;
  height: 32px;
  margin: 2px;
}



.self_introduction{
  position: relative;
  top: 15px;
  font-size: 20pt;
  width: fit-content;
  float:left;
  margin-right: 10px;
}

.self{
  float:left;
  margin-right: 10px;
}

.theme{
  margin-right: 65px;
  border: #000000;
  border-width: 1px;
  border-style: solid;
  height: 50px;
  width: 100px;
}

#color{
  height: 25px;
  width: 25px;
  background-color:#fff;
  border: #fff;
  position: relative;
  top: 5px;
}

.Basic_content{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: rgb(89, 119, 85);
}
/* todo */
.Basic_content.Simplicity{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  padding-top: 64px;
  padding-bottom: 64px;
  border:1px solid black;
  background-color: rgb(255, 255, 255)!important;
}
.vertical_Basic_content.Simplicity{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
  align-items: center;
  background-color: rgb(255, 255, 255)!important;
}
.Basica.Simplicity{
  display: none;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  word-break:break-all;
  white-space: pre-wrap;
  
}
.Basic.Simplicity{
  color: #000000;
}
.title.Simplicity{
  color:#000000;
  background-color: #FFF!important;
  border:#000000 2px solid;
}
#writing.Simplicity{
  color: #000000!important;
}
#vertical_writing.Simplicity{
  color: #000000!important;
}
.title.Simplicity::before{
  content: "";
  display: none;
  width: 18.4px;
  height: 18.4px;
  background: #ffffff;
  position: absolute;
  right: -9px;
  top: 4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*///////////////////////////////////////////////////////*/
.Basica{
  display: none;
  font-size: 16px;
  margin-top: 10px;
  
  margin-bottom: 10px;
  color: #fff;
  word-break:break-all;
  white-space: pre-wrap;
  
}
#Basic1{
  font-size: 21pt;
  position: absolute;
  left: 33%;
  top: -15px;
  margin: 0px;
}
#title_Basic{
  position: relative;
  left: 15%;
  top: 5px;
}

#title_Basic:after{
  
    content:'';
    display:block;
    clear:both;
  
}
.Basic{
  
  display: none;
  font-size: 16px;
  margin-top: 10px;
  
  color: #fff;
  
}

#father_Basic{
  position: relative;
  left:12%;
  top:10px;
  width: 88%;
  display: flex;
  flex-direction: column;
}
.ADD
{
  left:12%;
  top:10px;
  width: 100%;
}

.portrait{
  width: 120px;
  height: 120px;
  margin: 15px;
  position: relative;
  top:-25px;
  left: 50px;
}

.layui-form-label{
  font-size: 14pt;
  width: 100px;
}

.detail{
  margin-top: 10px;
}

.detail_content{
  position: relative;
  right: 92px;
  width: 480px;
  margin-top: 10px;
}

.Detail_content{
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}
.title{
  position: relative;
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    width: -webkit-max-content;
    width: max-content;
    line-height: 26px;
    padding: 0 100px 0 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #fff;

}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(0,0,0,.85);
    font-weight: 500;
}
.title::before{
  content: "";
  display: block;
  width: 18.4px;
  height: 18.4px;
  background: #ffffff;
  position: absolute;
  right: -9px;
  top: 4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.s_title{
  position: relative;
    font-size: 22px;
    font-weight: 700;
    width: 200px;
    width: -webkit-max-content;
    width: max-content;
    line-height: 26px;
    border-bottom: #84848a;
    border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}
.description{
    white-space: pre-wrap;
    font-family: roboto-regular;
    font-size: 14px;
    color: rgba(0,0,0,.85);
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    -moz-font-feature-settings: "tnum";
}
.Detail{
  position: relative;
  padding: 5px;

}
.description{
  font-size: 13pt;
}

/* 横板简历 */
.vertical_resume{
   position: absolute;
    width: 210mm;
    height: 297mm;
    border: #000000;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    
  }
  
  .vertical_Basic_content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    align-items:center;
    background-color: rgb(89, 119, 85)
    
  }

  #vertical_father_Basic{
    position: relative;
    left: 5%;
 /*    top: -50px; */
    width: 88%;
    display: flex;
    flex-direction: row;
    padding-left: 100px;

  }

  #vertical_connect{
    padding-left: 50px;
  }

#vertical_writing{
  float:left; 
  color: #fff;
  writing-mode:tb-rl
}

/* 上传头像区域的style */

*{margin: 0;padding: 0;outline: none}
*:active{-webkit-tap-highlight-color: rgba(0,0,0,0)}
a{text-decoration: none}
.disabled{pointer-events: none;opacity:.65}
h1{font-size: 18px;}
.hiddle{display: none!important;}
.wrapper{ margin: 20px auto; width: 1280px; position: fixed; top: 10%;left: 10%;border: 10px #ccc solid; border-radius: 6px ;z-index: 55;
background-color: #ffffff;}
.img-container{margin-left: 20px;display: inline-block;width: 600px;height: 342px;overflow: hidden;min-width: 300px;min-height: 300px;}
.img-preview-container{margin-left: 10px;display: inline-block;vertical-align: top}
.img-preview-container .img-preview{min-width: 300px;min-height: 300px;overflow: hidden;border: 1px #ccc solid}
.img-preview-container img{border: 1px #aaa solid}
.fixed-canvas{position: fixed;left: 50%;top:20px; width: 600px;margin-left: -300px;border:1px #aaa solid;border-radius: 6px;}
.fixed-canvas .fixed-bg{position: fixed;left: 0%;top:0%;right:0;bottom:0;background: rgba(0,0,0,.6);z-index:1}
.fixed-canvas .canvas-container{background: #fff;padding: 30px 20px;width: 100%;height: 100%;position: relative;z-index: 2;border-radius: 6px;box-sizing: border-box}
.fixed-canvas .canvas-container .canvas{width: 456px;border: 1px #ccc solid}
.fixed-canvas .canvas-container .canvas canvas{width: 100%}
/*限制图像宽度以避免容器溢出*/
.img-container img{max-width: 100%} /*这个规则很重要，请不要忽略这个*/
.text-container{display: inline-block;padding-left: 20px}
.text-container .param-container{vertical-align: top}
.param-container .param{display: inline-block;margin: 10px;width: 202px;height:33px;border: 1px #aaa solid;border-radius: 6px;box-sizing: border-box;font-size: 0}
.param-container .param .name,.param-container .param .value,.param-container .param .unit,.param-container .param .right-value{display: inline-block;height:100%;box-sizing: border-box;text-align: center;color:#495057;vertical-align: top;font-size: 16px;line-height: 31px}
.param-container .param .name,.param-container .param .unit{background: #ccc}
.param-container .param .name{width: 80px}
.param-container .param .value{width: 80px}
.param-container .param .unit{width: 40px}
.param-container .param .right-value{width: 120px;}

.btn-container{margin: 20px;display: inline-block;height: 33px;background: #007bff;border-radius: 6px}
.btn-container .btn{position: relative;padding: 0 20px;display: inline-block;height: 100%;vertical-align: top;color: #fff;line-height: 33px;cursor: pointer;overflow: hidden}
.input-upload{position: absolute;top: 0;left: 0;bottom: 0;right: 0;display: inline-block;border: 1px red solid;opacity: 0;}
#cancel{background-color: #da1111;}









/* @media print
{
  .header,.footer{undefined
    display:none;
  }
  
  @page {undefined
  
    size: auto;
    
    margin: 0mm;
    padding:0mm;
  }
  div{margin:0;border:0;padding:0;}
  .resume
  {
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    padding:0cm;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
  }
  .Basic_content{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .Basica{
    display:none;
    font-size: 16px;
    color: #fff;
    word-break:break-all;
    white-space: pre-wrap;
  }
  .vertical_resume{
   
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    padding:0px;
    width: 100%;
    height: 100%;
    display: flex;
    
  }
  
 
} */





/* 上传图片素材 */

.upimg
{
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

.upimg_1
{
  position: absolute;
  left: 148px;
  top: -14px;
  height: 65px;
  width: 160px;
  background-color: #f00e0e;
  line-height: 65px;
  text-align: center;
  color: #fff;
}

#upimg1
{
  position: absolute;
  left: 148px;
  top: -14px;
  height: 65px;
  width: 160px;
  opacity: 0;
  cursor: pointer

}


